include ./head.pug
body 
    include ./header.pug
    include ./notification.pug
    .content.padded
        .panel
            h1.panel-heading Admin Panel
            section#teachers
                .section-heading-container
                    h2.section-heading Manage Teachers
                    hr
                .button-row
                    a(href="listTeachers.html")
                        i(class="fa-solid fa-list")
                        span List Teachers
                    a(href="editTeachers.html")
                        i(class="fa-solid fa-user-pen")
                        span Edit Teachers
                    a(href="addTeacher.html")
                        i(class="fa-solid fa-user-plus")
                        span Add Teacher
            section#students
                div.section-heading-container
                    h2(class="section-heading") Manage Students
                    hr
                div.button-row
                    a(href="listStudents.html")
                        i(class="fa-solid fa-graduation-cap")
                        span List Students
                    a(href="editStudents.html")
                        i(class="fa-solid fa-user-pen")
                        span Edit Students
                    a(href="addStudent.html")
                        i(class="fa-solid fa-user-plus")
                        span Add Student
            section#admin
                div.section-heading-container
                    h2.section-heading Manage Admins
                    hr
                div.button-row
                    a(href="listAdmins.html")
                        i(class="fa-solid fa-user-secret")
                        span List Admins
                    a(href="editAdmins.html")
                        i(class="fa-solid fa-user-pen")
                        span Edit Admins
                    a(href="addAdmin.html")
                        i(class="fa-solid fa-user-plus")
                        span Add Admin
            section#advanced
                div.section-heading-container
                    h2.section-heading Database Settings
                    hr