include ./head.pug
body 
    include ./header.pug
    .content#main 
        if rows.length > 0
            table 
                tr 
                    th Date 
                    th Subject 
                    th Link 
                each row in rows 
                    tr 
                        td #{row.date_taken}
                        td #{row.subject}
                        td 
                            a(href="/viewAttendance?id=" + row.att_id) View 
        else
            h2 No record found! 
        a(href="/createAttendance") Create attendance