header
    div.theme-button-container
        button(onclick="switchTheme();")
            i(class="fa-solid fa-sun bright-icon")
            i(class="fa-solid fa-moon dark-icon")
    div.text
        span Manager
    if username 
        div.account
            div.account-info
                span(id="account-type") #{usertype}
                span(id="username") #{username}
            a(href="/logout", title="Log Out")
                i.fa-solid.fa-arrow-right-from-bracket
    else 
        .account 
            span#account-type Not logged in