include ./head.pug
body 
	.content#centered-flex
		.login-box
			h1 Student Attendance Management System 
			form(action="/login", method="post" name="login")
				.select-container 
					span Logging in as
					select(name="user_select") 
						option(value="teacher") teacher 
						option(value="admin") admin 
				.input-field-container
					label(for="username") Username
					input(type="text", name="username", placeholder="enter username", required)
				.input-field-container 
					label(for="password") Password
					input(type="password", name="password", placeholder="enter password", required)
				input(class="button", type="submit", value="Log In", onclick="try_submit()")