include ./head.pug
body 
    include ./header.pug
    .content#main 
        .heading 
            h2 Teacher panel 
        .cards-container 
            a.card.red(href="/createAttendance") Create attendance 
            a.card.blue(href="/viewAttendance") View attendance 
            a.card.green(href="/editAttendance") Edit attendance 