include ./head.pug
body 
    include ./header.pug
    .content#centered-flex
        .login-box
            h1.form-heading Add new teacher
            form(action="/saveTeacher", method="post", name="teacherForm")
                .input-field-container 
                    label(for="teacher_name") Teacher name 
                    input(type="text", name="teacher_name", placeholder="Enter name of teacher", value=tname, required)
                .input-field-container 
                    label(for="teacher_username") Username 
                    input(type="text", name="username", placeholder="Enter username", value=uname, required)
                .input-field-container 
                    label(for="teacher_pass") Password 
                    if create
                        input(type="password", name="teacher_pass", placeholder="Enter password", required)
                    else
                        input(type="password", name="teacher_pass", placeholder="leave empty to prevent changing")
                input.button(type="submit", value="Submit")
            
