if error 
    .notification-container.error 
        p #{error}
else if success
    .notification-container.success 
        p #{success}
else 
    .notification-container.invisible 
        p Message 